@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Comfortaa:wght@500&family=Oranienbaum&family=Oswald:wght@200&family=Philosopher:wght@700&family=Play:wght@700&family=Press+Start+2P&family=Raleway:ital,wght@1,100&family=Stalinist+One&family=Underdog&family=Yanone+Kaffeesatz:wght@300&display=swap');body{
    background-color: rgb(27, 0, 0);
    zoom: 67%;
}

header{
    display: flex;
    align-items: center;
    padding: 10px 5%;
    background-color: rgb(168, 168, 168);
    position: fixed;
    width: 100%;
    margin: -0.5% 0 0 -1.6%;
    z-index: 1;
    
}
nav{
    justify-content:space-between;
}

nav>a{
    text-decoration:none;
    color: black;
    margin:50px 100px;
    font-family: 'Comfortaa', cursive;
}

.pusto{
    width: 10%;
}

main{
    margin-left:15%;
}

.up{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 15%;
    margin-left: 5%;
}   
.up>img{
    width: 400px;
    margin-left: 10%;
}
.up>h1{
    display:inline-block;
    width: 50%;
    color: white;
    font-weight: 600;
    font-size: 38px;
    line-height: 150%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    
}
.pusto1{
    height: 200px;
}

.all{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.all>article{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(218, 208, 81);
    height: 220px;
    margin-bottom: 10%;
    margin-right: 15%;
    width: 75%;
    border-bottom-right-radius: 4%;
    border-top-right-radius: 20%;
    border-top-left-radius: 4%;
    border-bottom-left-radius: 20%;
    border: 6px solid rgb(204, 148, 102);
}

.all>article:hover{
    animation: anim1 5s 1;
}



@keyframes anim1{
    35%{
        transform: translateY(-60px);
    }
    40%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-50px);
    }
    55%{
        transform: translateY(0px);
    }
    63%{
        transform: translateY(-35px);
    }
    67%{
        transform: translateY(0px);
    }
    73%{
        transform: translateY(-15px);
    }
    77%{
        transform: translateY(0px);
    }
    82%{
        transform: translateY(-10px);
    }
    86%{
        transform: translateY(0px);
    }
    90%{
        transform: translateY(-7px);
    }
    93%{
        transform: translateY(0px);
    }
    95%{
        transform: translateY(-5px);
    }
    97%{
        transform: translateY(0px);
    }
    99%{
        transform: translateY(-2px);
    }

}


.all img{
    margin-right: 4%;
    /* height: 200px;
    width: 327px; */
    height: 70%;
    width: 25%;
    border-radius: 5%;
}

.art{
    margin-right: 5%;
    text-decoration:none;
    color: black;
    font-size: 25px;
    font-family: 'Underdog', cursive;
    width: 50%;
}

.bot{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    background-color: azure;
    height: 15vh;
    width: 60%;
    margin-left: 13%;
    margin-bottom: 7%;
    
    
}

.bottxt{
    margin-left: -7.5%;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 26px;
    
}

.bot>h2{
    width: 100%;
    text-align: center;
    font-size: 26px;
    
}
footer{
    background-color: rgb(9, 9, 54);
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer>p{
    color: white;
    font-family: 'Comfortaa', cursive;
}

.f:hover{
    animation: anim3 3s 1;
    animation-timing-function: ease-out;
}  

.s:hover{
    animation: anim3 3s 1;
    animation-timing-function: ease-out;
}  


.t:hover{
    animation: anim3 3s 1;
    animation-timing-function: ease-out;
}  


.fr:hover{
    animation: anim3 3s 1;
    animation-timing-function: ease-out;
}  
@keyframes anim3{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg)
    }
}

@media(min-width: 320px) and (max-width: 700px){
    .burger-menu{
        display: block;
        position: absolute;
        width: 30px;
        height: 20px;
        margin-right: 2%;
        transition: 0.8s ease;
    }
    .burger-menu::after, .burger-menu::before {
        content: "";
        background: rgb(255, 199, 56);
        position: absolute;
        width: 100%;
        height: 2px;
        transition: 0.8s ease;
    }

    .burger-menu::before{
        top:0
        
    }
    .burger-menu::after{
        bottom: 0;
    }
    .burger-menu span{
        background: rgb(255, 126, 56);
        position: absolute;
        width: 100%;
        height: 2px;
        top: 10px;
    }
    .nav-list{
        position: absolute;
        top: 0;
        left: 0;
        width: 60vw;
        height: 80vh;
        background-color: rgb(133, 217, 230);
        border: 3px solid rgb(216, 216, 216);
        transform: translateX(-105%);
        transition: 0.8s ease;
        border-bottom-right-radius: 100%;
    }
    .nav{
        flex-direction: column;
        margin-top: 40%;
        line-height: 100px;
    }
    .nav>a{
        font-size: 20px;
        margin: 50px 50px;
    }
    header>a{
        margin-left: 33%;
        transform: scale(1.3);
    }
    .up{
        display: flex;
        flex-direction: column;
        padding-top: 30vh;
        text-align: center;
        margin-right: 20%;
    }

    .up>img{
        width: 70%;
        margin-left: 0%;
    }

    .up>h1{
        font-size: 28px;
    }

    .all>article{
        flex-wrap: nowrap;
        height: 17vh;
        margin-bottom: 12vh;
        width: 95%;
        border-bottom-right-radius: 4%;
        border-top-right-radius: 20%;
        border-top-left-radius: 4%;
        border-bottom-left-radius: 20%;
    }
    
    
    .all img{
        margin-left: 2%;
        height: 70%;
        width: 40%;
    }
    
    .art{
        margin-left: 10%;
        text-decoration:none;
        color: black;
        font-size: 20px;
        font-family: 'Oranienbaum', serif;
    }

    .bot{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content:space-around;
        background-color: azure;
        height: 11vh;
        width: 100%;
        margin-bottom: 10vh;
        margin-left: -7.5%;
    }

    .bottxt{
        display: inline-block;
        color: white;
        text-align: center;
        margin-right: 5%;

    }

    .s{
        padding-top: 1vh;
    }
    .t{
        padding-top: 1vh;
    }
    .fr{
        padding-top: 2.5vh;
    }
    .logl{
        margin-left: 0;
    }
    
    .logr{
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }

    footer{
        font-size: 12px;
        height: 13vh;
        margin: -1% -1%;
        justify-content: space-around;
    }



}



.burger-menu.active {
    z-index: 5;
    transform: translateX(100%);
    transition: 0.8s ease;
}

.burger-menu.active::before {
    transform: rotate(45deg);
    top: 9px;
    transition: 0.8s ease;
}
.burger-menu.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
    transition: 0.8s ease;
}

.burger-menu.active span {
    transform: scale(0);
}

.nav-list.active {
    transform: translate(0);
    transition: 0.8s ease;
}
